
a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  padding: 0 10px;
  z-index: 3;
}
.header .search img{
    width: 50px;
    height: 50px;
}
.header .search {
   position: absolute;
    right: 54px;
    top: 3px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  font-weight: 400;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


.header .logo {
  display: block;
  float: left;
  /* font-size: 2em;
  padding: 10px 20px; */
  width:106px;
  height: 51px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu li.home a {
    color:var(--cl--primary);
    font-weight:700;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 8px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 23px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  
}
.header .menu-btn:checked ~ .menu > header {
   border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}




.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
.profile-menu {
display: none;
}
.profile-menu a  {
  display: block;
  /* padding: 20px 20px; */
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  font-weight: 400;
}
.profile-menu a image {
width: 38px;
height: 38px;
}



/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  padding: 1px 34px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
   border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header .search {
display: none;
}
  .header .logo {
  display: block;
  float: right;
  /* font-size: 2em;
  padding: 10px 20px; */
  width:106px;
  height: 51px;
  text-decoration: none;
}
  .header li {
    float: left;
  }
  .header li a {
    font-weight: 400;
    padding: 14px 11px ;
    
  }
  .header .menu {
    clear: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.438rem;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .profile-menu{
    display: flex;
justify-content: center;
align-items: center;
gap:10px;
  }
}




/* //////////////////////////////////////////////////////// */

